extends layout

block scripts
  script(src=site.ghbaseurl + '/public/js/home.js')

block header
  header
    .header-wrap
      .installation
        .site-description!= site.description
        .card-wrap
          .card
            .card-inner
              h1 Download Chai
                span.version v1.0.0
              #node.install
                h2 for Node
                  small Another platform?
                    a.toggle(href='#browser') Browser
                    a.toggle(href='#rails') Rails
                .download-banner 
                  .description The <code>chai</code> package is available on npm.
                  .command.dsp-left $ npm install chai
                  a.button.dsp-right(href='#') View Node Guide
              #browser.install
                h2 for Browser
                  small Another platform?
                    a.toggle(href='#node') Node
                    a.toggle(href='#rails') Rails
                .download-banner 
                  .description The <code>chai.js</code> script is available for download or a hotlink.
                  a.button-alt.dsp-left(href='http://chaijs.com/chai.js')  Download chai.js
                  a.button.dsp-right(href='#') View Browser Guide
              #rails.install
                h2 for Rails
                  small Another platform?
                    a.toggle(href='#node') Node
                    a.toggle(href='#browser') Browser
                .download-banner 
                  .description Chai is available through Konacha, a modern
                    | test harness that takes full advantage of Rails 3 features such as the
                    | asset pipeline and engines.
                  a.button-alt.dsp-full(href='https://github.com/jfirebaugh/konacha', target='_blank') Konacha GitHub Project
              .tech-links
                a(href='https://github.com/chaijs/chai/issues', target='_blank') Issues
                | &nbsp;|&nbsp;
                a(href='https://github.com/chaijs/chai', target='_blank') Fork on GitHub
                | &nbsp;|&nbsp;
                a(href='https://github.com/chaijs/chai/blob/master/History.md', target='_blank') Changelog
                | &nbsp;|&nbsp;
                a(href='http://groups.google.com/group/chaijs', target='_blank') Google Group
                | &nbsp;|&nbsp;
                a(href='http://travis-ci.org/#!/chaijs/chai', target='_blank') Build Status
      .callouts
        #guide.call
          a(href=site.ghbaseurl + '/guide')
            span.icon
            big Getting Started
            small Learn how install and use Chai through a series of guided walkthroughs.
          .bg
        #api.call
          a(href=site.ghbaseurl + '/api')
            span.icon
            big API Documentation
            small Explore the BDD &amp; TDD language specifications for all available assertions.
          .bg
        #plugins.call
          a(href=site.ghbaseurl + '/plugins')
            span.icon
            big Plugin Directory
            small Extend Chai's with additional assertions and vendor integration.
          .bg

block content
  #home.grid_12.panels
    .rowInside
      article.grid_12.hrline
      article.grid_12.desc
        h2.plain Chai has several interfaces that allow the developer to choose the most comfortable. The chain-capable BDD styles provide an expressive language &amp; readable style, while the TDD assert style provides a more classical feel. 
      if (files.home_samples)
        for section in files.home_samples
          article.grid_4.code.contrast
            .wrap
              h3.fancy= section.title
              .code-sample!= section.prepared
              .more-wrap
                - hrf = section.title.toLowerCase()
                a(href=site.ghbaseurl + '/guide/styles/#' + hrf, class='more') Visit #{section.title} Guide
                  span.arrow &rarr;
    .rowInside
      article.grid_12.hrline
      article.grid_12.desc
        h2.plain Plugins extend Chai's assertions to new contexts such as vendor integration &amp; object construction. Developers can build their own plugins to share with community or use the plugin pattern to DRY up existing tests.
      article#plugin-featured.grid_6.plugin-box.contrast
        .plugin-title
          h2.plain.accent-wrap
            span.accented Chai jQuery
              span.faccentl
              span.faccentr
          .action-button
            a(href='#') Learn More &amp; Install
              span.arrow &rarr;
        .wrap
          h3.fancy Featured Plugin
          .plugin-desc!= file.prepared
      article#plugin-dir.grid_3.plugin-box.contrast
        span.img
          .icon
        .wrap
          h3.fancy Custom Plugins
          p Browse our growing directory of custom plugins &amp; vendor integrations to find the best tool for your needs.
          .more-wrap
            a(href='#', class='more') Browse Plugins
              span.arrow &rarr;
      article#plugin-guide.grid_3.plugin-box.contrast
        span.img
          .icon
        .wrap
          h3.fancy Develop Plugins
          p Chai has an extensivity utility belt for plugin developers. Learn how to build your plugins &amp; share. 
          .more-wrap
            a(href='#', class='more') Plugin Guide 
              span.arrow &rarr;
    .rowInside
      article.grid_12.hrline
      article.github.grid_6.contrast
        .wrap
          span.img &nbsp;
          h3.fancy Powered by Open Source
          p Chai is hosted on GitHub. Have a suggestion or found a bug? Fork this project to help make Chai even better. Even this documentation site is open source and available for contribution. 
          .more-wrap
            a(href='#', class='more') Fork Chai on GitHub
              span.arrow &rarr;
      article.community.grid_6.contrast
        .wrap
          h3.fancy Involved Community
          p We have an active mailing list available at our <a href="http://groups.google.com/group/chaijs" target="_blank">Google Group</a>, or drop by freenode IRC <code>#chaijs</code> channel to get help anytime.
          .more-wrap
            a(href='http://groups.google.com/group/chaijs', class='more', target='_blank') Visit Google Group
              span.arrow &rarr;
