extends api-index

block scripts
  script(src=site.ghbaseurl + '/public/js/tests/mocha.js')
  script
    mocha.setup('tdd');
  script(src='/chai.js')
  script
    err = function (fn, msg) {
      try {
        fn();
        throw new chai.AssertionError({ message: 'Expected an error' });
      } catch (err) {
        chai.expect(err.message).to.equal(msg);
      }
    };
  script(src=site.ghbaseurl + '/public/js/tests/configuration.js')
  script(src=site.ghbaseurl + '/public/js/tests/expect.js')
  script(src=site.ghbaseurl + '/public/js/tests/should.js')
  script(src=site.ghbaseurl + '/public/js/tests/assert.js')
  script(src=site.ghbaseurl + '/public/js/tests/plugins.js')
  script(src=site.ghbaseurl + '/public/js/tests/utilities.js')
  script
    onload = function () {
      mocha.run();
    };

block rendered
  article!= file.prepared
  #mocha
