extends ../layout

block content
  #plugin.row(class=plugin.name)
    .banner.grid_4
      .wrap
        .title: h2.plain= plugin.name
        .desc= plugin.description
        - if (plugin.repository.url.indexOf('github.com'))
          - var link = plugin.repository.url.replace(/^git/, 'http');
          - var repo = link.replace(/^https?\:\/\/(www\.)?github\.com\//, '')
          h3.link: a(href=link) View the Project on GitHub
            span= repo
        - else if (plugin.latest && plugin.latest.homepage)
          h3.link: a(href=plugin.latest.homepage) View the homepage
            span
        - if (plugin.keywords.indexOf('chai-plugin-browser-only') === -1)
          .platform.supported
            .icon &#10003;
            | node.js supported
            pre: code npm install #{plugin.name}
        - else
          .platform.not-support
            .icon &times;
            | node.js not supported
        - if (plugin.keywords.indexOf('chai-plugin-browser') === -1)
          .platform.supported
            .icon &#10003;
            | browser supported
        - else
          .platform.not-support
            .icon &times;
            | browser not supported
        .people
          - if (plugin.author)
            .author Project maintained by #{plugin.author.name}
    .readme.grid_8
      .wrap!= plugin.htmlReadme
